A:visited{TEXT-DECORATION:none;COLOR:000000}
A:link{text-decoration:none;COLOR:000000}
A:hover{TEXT-DECORATION:underline overline}

DIV,FORM,P,TD,BODY{FONT-SIZE:9pt;}
BODY{
background-image: url(background.jpg);
background-color: #ffffff;
SCROLLBAR-ARROW-COLOR: #FFffff;
SCROLLBAR-3DLIGHT-COLOR: #F9904B;
scrollbar-Base-Color: #F9904B;
SCROLLBAR-TRACK-COLOR: #FFF0E6;
}
#TableTitleLink A:link,#TableTitleLink A:visited{COLOR:ffffff;}
.a1{BACKGROUND-IMAGE:url('titlebg.gif');COLOR:ffffff;}
.a2{BACKGROUND-COLOR: CC5200;}
.a3{BACKGROUND-COLOR: FFF0E6;}
.a4{BACKGROUND-COLOR: FFF7F0;}

.menuskin {
	BORDER-RIGHT: #0A2999 1px solid ;
	BORDER-TOP: #0A2999 1px solid;
	BORDER-LEFT: #0A2999 1px solid;
	BORDER-BOTTOM: #0A2999 1px solid;
	BACKGROUND-IMAGE: url(menubg.gif);
	POSITION: absolute;
	VISIBILITY: hidden;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT: #0B008B 1px solid;
	BORDER-TOP: #0B008B 1px solid;
	BORDER-LEFT: #0B008B 1px solid;
	BORDER-BOTTOM: #0B008B 1px solid;
	BACKGROUND-COLOR: #FFEEC2 
}
.menuskin A {PADDING-RIGHT: 10px;PADDING-LEFT: 30px;}