TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 14pt
}
A {
	FONT-SIZE: 9pt; COLOR: #blue; LINE-HEIGHT: 14pt; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000; LINE-HEIGHT: 14pt; TEXT-DECORATION: underline
}
INPUT.button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; CURSOR: hand; COLOR: #000000; LINE-HEIGHT: 9pt; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: ו; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
