A:visited{TEXT-DECORATION:none;COLOR:000000}
A:link{text-decoration:none;COLOR:000000}
A:hover{TEXT-DECORATION:underline overline}

DIV,FORM,P,TD,BODY{FONT-SIZE:9pt;}
BODY{
background-image: url(background.gif);
scrollbar-face-color: #DEE3E7;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #DEE3E7;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #006699;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: #98AAB1;
}
#TableTitleLink A:link,#TableTitleLink A:visited{COLOR:00000;}
.a1{BACKGROUND-IMAGE:url('titlebg.gif');COLOR:000000;}
.a2{BACKGROUND-COLOR: 003366;}
.a3{BACKGROUND-COLOR: F3F3F3;}
.a4{BACKGROUND-COLOR: EAEAEA;}

.menuskin {
	BORDER-RIGHT: #0A2999 1px solid ;
	BORDER-TOP: #0A2999 1px solid;
	BORDER-LEFT: #0A2999 1px solid;
	BORDER-BOTTOM: #0A2999 1px solid;
	BACKGROUND-IMAGE: url(menubg.gif);
	POSITION: absolute;
	VISIBILITY: hidden;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT: #0B008B 1px solid;
	BORDER-TOP: #0B008B 1px solid;
	BORDER-LEFT: #0B008B 1px solid;
	BORDER-BOTTOM: #0B008B 1px solid;
	BACKGROUND-COLOR: #FFEEC2 
}
.menuskin A {PADDING-RIGHT: 10px;PADDING-LEFT: 30px;}